<include file="header" nav="首页"/>
<div class="mobile">
    <!--
    <div class="header">
        <img src="__PUBLIC__/uploads/logo.png" />
        <if condition="isLogin()">
            <a href="{:U('User/person')}">会员中心</a>
            <else/>
            <a href="{:U('Mobile/login')}">注册/登录</a>
        </if>
    </div>
    
    <div class="header-nbsp"></div> -->
    <!--banner-->
    <div class="indexbanner">
        <div class="slide_01" id="slide_01">
            <volist name=":getData('slide','all','type=2 AND `show`=1','','sort asc')" id="s">
                <div class="mod_01"><a href="{$s.url}"><img src="__PUBLIC__/uploads/slide/{$s.path}" ></a></div>
            </volist>
        </div>
        <div class="dotModule_new">
            <div id="slide_01_dot"></div>
        </div>
    </div>
    
    <div class="marquee_outer">
        <img src="__PUBLIC__/mobile/img/notice.png" />
        <div class="marquee_txt">
            <marquee scrollamount="3">
                <a>{:getInfo('notice')}</a>
            </marquee>
        </div>
    </div>
    
    <script type="text/javascript" src="__PUBLIC__/mobile/js/srcoll.js"></script>
    <script type="text/javascript">
        //轮播图
        $('.mod_01').css('width',document.body.offsetWidth);
        if(document.getElementById("slide_01")){
            var slide_01 = new ScrollPic();
            slide_01.scrollContId   = "slide_01"; //内容容器ID
            slide_01.dotListId      = "slide_01_dot";//点列表ID
            slide_01.dotOnClassName = "selected";
            slide_01.frameWidth     = document.body.offsetWidth;
            slide_01.pageWidth      = document.body.offsetWidth;
            slide_01.upright        = false;
            slide_01.speed          = 10;
            slide_01.space          = 30;
            slide_01.initialize(); //初始化
        }
    </script>
    
    <!--end banner-->
    <div class="indexnav" style="height: 1.5rem;">
        <a href="{:U('User/recharge')}"><img src="__PUBLIC__/mobile/img/recharge.png" /><font>我要充值</font></a>
        <a href="{:U('User/cash')}"><img src="__PUBLIC__/mobile/img/cash.png" /><font>我要提现</font></a>
     <!--   <a href="{:U('Mobile/lists')}"><img src="__PUBLIC__/mobile/img/nav1.png" /><font>投资项目</font></a>
        <a href="{:U('About/index')}"><img src="__PUBLIC__/mobile/img/nav2.png" /><font>关于我们</font></a>
        <a href="{:U('#')}"><img src="__PUBLIC__/mobile/img/calculator.png" /><font>App下载</font></a> -->
        <a href="javascript:;" onclick="qiandao()"><img src="__PUBLIC__/mobile/img/nav4.png" /><font>每日签到</font></a>
     <!--   <a href="{:U('User/recharge')}"><img src="__PUBLIC__/mobile/img/recharge.png" /><font>我要充值</font></a>
        <a href="{:U('User/cash')}"><img src="__PUBLIC__/mobile/img/cash.png" /><font>我要提现</font></a>
        <a href="{:U('#')}"><img src="__PUBLIC__/mobile/img/index-hlf-icon4.png" /><font>免费注册</font></a> -->
        <a href="{:U('User/recommend')}"><img src="__PUBLIC__/mobile/img/link.png" /><font>邀请好友</font></a>
    </div>




<div class="itemList" style="height:160px;"><a href="/mobile/details/id/47.html"><!--<a href="/mobile/details/id/73.html">-->
<div class="investTitle"><img src="/Public/uploads/article/20190618/1560834391269335.png" style="">{$i.title}山西晋丰煤化项目</div>
<div class="investInfo1">
<ul>
<!--<li style="width:25%"><em>2.19</em>%<br>日化利率</li>
<li style="width:35%"><em>5</em> 天<br>投资期限</li>
<li style="width:40%">¥<em>6500</em>元<br>起投金额</li>-->
<div class="clear"></div></ul></div>
</a><div class="project-foot"><a href="/mobile/details/id/47.html">
&nbsp;&nbsp;投资金额：{:round($i['min'],2)}元&nbsp;&nbsp;&nbsp;&nbsp; <!--每日返息,到期还本--><br>
<span class="jdt1">&nbsp;&nbsp;</span><span class="jdt"><i style="width:27.81%"></i></span><span class="jdt3">27.81%</span>
</a><div class="touzi"  <if condition="getProjectPercent($i['id']) eq 100"> style="background-color: #888;  <else/>style="background-color: #12ADFF; </if>float:right;width:100px;margin-right:20px;border-radius: 5px;">

	 <if condition="getProjectPercent($i['id']) eq 100">
	<a class="f_get_now" href="{:U('details','id='.$i['id'])}" style="font-size: 13px;color: #FFFFFF;background-color: #888;">项目已满</a>
 <else/>
                               <a class="f_get_now" href="{:U('details','id='.$i['id'])}" style="font-size: 13px;color: #FFFFFF">立即投资</a>
                            </if>
</div>
</div> 
<div class="clear"></div>
</div>



<div class="itemList" style="height:160px;"><a href="/mobile/details/id/52.html"><!--<a href="/mobile/details/id/73.html">-->
<div class="investTitle"><img src="/Public/uploads/article/20190618/1560834391269335.png" style="">{$i.title}山西晋丰煤化项目</div>
<div class="investInfo1">
<ul>
<!--<li style="width:25%"><em>2.19</em>%<br>日化利率</li>
<li style="width:35%"><em>5</em> 天<br>投资期限</li>
<li style="width:40%">¥<em>6500</em>元<br>起投金额</li>-->
<div class="clear"></div></ul></div>
</a><div class="project-foot"><a href="/mobile/details/id/52.html">
&nbsp;&nbsp;投资金额：{:round($i['min'],2)}元&nbsp;&nbsp;&nbsp;&nbsp; <!--每日返息,到期还本--><br>
<span class="jdt1">&nbsp;&nbsp;</span><span class="jdt"><i style="width:27.81%"></i></span><span class="jdt3">27.81%</span>
</a><div class="touzi"  <if condition="getProjectPercent($i['id']) eq 100"> style="background-color: #888;  <else/>style="background-color: #12ADFF; </if>float:right;width:100px;margin-right:20px;border-radius: 5px;">

	 <if condition="getProjectPercent($i['id']) eq 100">
	<a class="f_get_now" href="{:U('details','id='.$i['id'])}" style="font-size: 13px;color: #FFFFFF;background-color: #888;">项目已满</a>
 <else/>
                               <a class="f_get_now" href="{:U('details','id='.$i['id'])}" style="font-size: 13px;color: #FFFFFF">立即投资</a>
                            </if>
</div>
</div>
<div class="clear"></div>
</div>

<!--

<div class="itemList" style="height:160px;"><a href="/mobile/details/id/73.html"><!--<a href="/mobile/details/id/73.html">--><!--
<div class="investTitle"><img src="/Public/mobile/img/mortgage.gif" style="">{$i.title}山西晋丰煤化项目</div>
<div class="investInfo1">
<ul>
<!--<li style="width:25%"><em>2.19</em>%<br>日化利率</li>
<li style="width:35%"><em>5</em> 天<br>投资期限</li>
<li style="width:40%">¥<em>6500</em>元<br>起投金额</li>--><!--
<div class="clear"></div></ul></div>
</a><div class="project-foot"><a href="/mobile/details/id/73.html">
&nbsp;&nbsp;投资金额：{:round($i['min'],2)}元&nbsp;&nbsp;&nbsp;&nbsp; <!--每日返息,到期还本--><!--<br>
<span class="jdt1">&nbsp;&nbsp;</span><span class="jdt"><i style="width:27.81%"></i></span><span class="jdt3">27.81%</span>
</a><div class="touzi"  <if condition="getProjectPercent($i['id']) eq 100"> style="background-color: #888;  <else/>style="background-color: #12ADFF; </if>float:right;width:100px;margin-right:20px;border-radius: 5px;">

	 <if condition="getProjectPercent($i['id']) eq 100">
	<a class="f_get_now" href="{:U('details','id='.$i['id'])}" style="font-size: 13px;color: #FFFFFF;background-color: #888;">项目已满</a>
 <else/>
                               <a class="f_get_now" href="{:U('details','id='.$i['id'])}" style="font-size: 13px;color: #FFFFFF">立即投资</a>
                            </if>
</div>
</div>
<div class="clear"></div>
</div>

-->

<link rel="stylesheet" href="__PUBLIC__/mobile/css/x.css?k={:rand(1,99999)}"/> 

<div class="max">

<div class="platformData">
  <volist name="item" id="i">
	<if condition="getProjectPercent($i['id']) lt 100">
 <a href="{:U('details','id='.$i['id'])}">
</a><div class="itemList" style="height:160px;"><a href="{:U('details','id='.$i['id'])}">
<div class="investTitle"><img src="__PUBLIC__/mobile/img/mortgage.gif" style="">{$i.title}</div> 


    <if condition="getInfo('video') neq '无' AND getInfo('video') neq ''">
        <div class="vid_box">
            <iframe frameborder="0" width="100%" height="288" src="{:getInfo('video')}" allowfullscreen=""></iframe>
        </div>
    </if>
    
    <div class="contact">
        <span class="tel">服务热线：<a href="#"><strong>{:getInfo('tel')}</strong></a></span>
        <a href="#" class="kef">></a>
    </div>
    <div class="footer">
       
        <div class="zhenjian"> 
       <a> </a>
<script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script> 
        </div>
        <!--  认证代码 end-->
    </div>
  <!--  <if condition="$_SESSION['isApp'] neq 1">
        <div class="appdown" style="width: 7.5rem;height: 1rem;background-color: rgba(0, 0, 0, 0.5);position: fixed;bottom: 1rem;">
            <div style="width: 1rem;float:left;height: 1rem;margin: 0 0.2rem;">
                <img src="__PUBLIC__/uploads/mlogo2.png" width="100%"/>
            </div>
            <div style="width: 3rem;float: left;left: 1rem;color: #fff;line-height: 0.4rem;margin: 0.1rem 0;font-size: 0.28rem;">
                {:getInfo('webname')}<br/>
                您身边的理财专家
            </div>
            <div style="width: 1rem;float:right;height: 1rem;">
                <a href="javascript:;" onclick="$('.appdown').hide();" style="display: block;width:1rem;font-size:0.5rem;cursor: pointer;color:#fff;line-height: 1rem;text-align: center;">×</a>
            </div>
            <div style="width: 2rem;height: 1rem;float: right;">
                <a href="{:getInfo('app')}" style="display:block;width:1.6rem;height: 0.6rem;margin: 0.2rem .2rem;line-height:0.6rem;text-align:center;border-radius:0.1rem;background-color: #FD5A21;color:#fff;font-size: 0.28rem;">下载APP</a>
            </div> 
        </div>
    </if> -->
    <include file="footer" menu="index"/>
    <if condition="getInfo('activity_status') eq 1">
        <!--活动弹窗 S -->
        <div class="huodongbg" style="width:100%;height:2000px;position: fixed;top: 0;left:0;background-color: rgba(0,0,0,0.35);z-index: 9999999;">
            <div style="width:300px;height:200px;position: fixed;top: 0;left:0;right:0;bottom:0;margin:auto;background-color: #666;">
                <a href="javascript:;" onclick="$('.huodongbg').hide();" style="width:110px;height:25px;line-height:25px;text-align: center;position:absolute;right: 5px;top: 10px;border: 1px solid #fff;color:#fff;border-radius:5px;">关闭活动广告</ a>
                <a href="{:getInfo('activity_url')}" style="">
                    <img src="__PUBLIC__/uploads/activity.png" width="300px" height="200px"/>
                </a>
            </div>
        </div>
        <!--活动弹窗 E-->
    </if>
</div>
<script type="text/javascript" src="https://js.users.51.la/19953991.js"></script>
</body>
</html>